body
{
    background-image: url(code_wallpaper.jpg);
    color: #d3d3d3;
    margin: 0;
    padding: 0;
}


h1
{
    text-align: center;
    font-family: "Verdana", "Times New Roman";
}


#container
{
    margin: auto;
    padding: 0;
    height: 1000px;
    width: 100%;
    border: 1px solid white;
}

/* #aboutme
{
    float: left;
    margin: 1%;
    padding: 1%;
    height: auto;
    width: 45%;
}
*/

/* #interests
{
    float: right;
    clear: right;
    margin: 1%;
    padding: 1%;
    height: auto;
    width: 45%;
}
*/

.textbox
{
    background-color: #666666;
}
































